<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MaintenanceProject.My.MySettings.PROJECTS1730ConnectionString"
            connectionString="Data Source=msenterprise.waltoncollege.uark.edu;Initial Catalog=PROJECTS1730;Persist Security Info=True;User ID=PROJECTS1730;Password=VN60gv$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>